<!DOCTYPE html>
<hr class="blueDivider">
<div *ngIf="renderSystemControlComponent()">
    <lib-card id="control" [cardConfiguration]="systemControlCardConfiguration">
        <div class="systemControl">
            <div class="lotHandlingAndTestExecution">
                <app-lot-handling id="lothandling"></app-lot-handling>
                <app-system-handling></app-system-handling>
                <lib-card id="systemMessage" [cardConfiguration]="systemMessageCardConfiguration">
                    <div class="modalDialogFilter">
                        <lib-multichoice [multichoiceConfig]="modalDialogFilterConfig" (multichoiceChangeEvent)="setModalDialogFilter()"></lib-multichoice>
                    </div>
                </lib-card>
            </div>
            <app-test-option id="option"></app-test-option>
        </div>
    </lib-card>
</div>
